/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* import font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+NZ:wght@100..400&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    background-image: url('./images/background\ game.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    gap: 40px;
}

html{
    font-family: "Playwrite NZ", cursive;
}

.main-logo{
    display: block;
    width: 450px;
}

.playing-mode{
    display: none;
    flex-direction: column;
    gap: 30px;
}

.human-face{
    width: 80px;
}

.bot-face{
    width: 80px;
}

.selected-mode-sec,
.modes{
    border: 5px solid #1E2D24;
    border-radius: 30px;
    padding: 15px 30px;
    display: flex;
    gap: 15px;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.modes:hover{
    transform: scale(1.1);
    box-shadow: 0 0 3px 5px rgba(255, 255, 255, 0.3);
}

.modes:hover .vs-text{
    color: #EA2B1F;
}

.vs-text{
    font-weight: bolder;
    font-size: 30px;
    align-self: center;
    text-transform: uppercase;
    transition: color 0.2s;
}

body .selected-mode-sec{
    background-color: #f3ede9;
    flex-direction: column;
    cursor:auto;
    gap: 25px;
}

.human-mode-sec{
    display: none;
}


.human-mode-sec .vs-text{
    font-size: 35px;
    color: #001D3D;
}

.selected-mode-wrap{
    display: flex;
    gap: 15px;
}

.role-name{
    font-weight: 800;
    font-size: 25px;
}

.fight-btn{
    align-self: center;
    background-color: yellow;
    font-size: 35px;
    font-family: inherit;
    padding: 5px 50px;
    cursor: pointer;
    border: 3px solid #FFBA08;
    border-radius: 15px;
    transition: all 0.2s;
}

.fight-btn:hover{
    color: yellow;
    background-color: black;
    border-color: #03071E;
}

.role{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.role img.x-icon,
.role img.o-icon{
    width: 40px;
}

.x-icon{
    color: #9D0208;
}

.o-icon{
    color: #118AB2;
}

.bot-mode-sec{
    display: none;
}

.difficult-mode{
    display: flex;
    list-style: none;
    align-self: center;
    text-align: center;
    gap: 8px;
}

.difficult-mode li{
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 10px;
}

.difficult-mode li:hover{
    outline: 3px solid black;
    z-index: 10;
}

#easy{
    background-color: #D6CCC2;
    outline: 3px solid black;
    z-index: 10;
}

#medium{
    background-color: #52796F;
}

#impossible{
    background-color: #EF233C;
}

.btn-sec{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.btn{
    cursor: pointer;
    color: #2B2D42;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 15px;
    transition: all 0.2s;
}

.back-btn{
    margin-top: 15px;
}

.playing-tool{
    display: flex;
    gap: 30px;;
}

.next-round-btn{
    width: 70px;
    line-height: 25px;
    font-size: 30px;
}


.btn:hover{
    transform: scale(1.1);
    color: #03071E;
}

.fight-container{
    display: flex;
}

.fight-container .role{
    border: 5px solid #03071E;
    border-radius: 25px;
    background-color: #f3ede9;
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
    padding: 15px 30px;
    align-self: center;
    transition: all 0.15s;
}

.fight-container .role-wrapper{
    display: flex;
    flex-direction: column;
}

.fight-container .role-wrapper .point{
    font-size: 60px;
    text-align: center;
}

.fight-container .player:hover{
    transform: scale(1.1);
    box-shadow: 0 0 4px 6px rgba(255, 0, 0, 0.5);
}

.fight-container .bot:hover{
    transform: scale(1.1);
    box-shadow: 0 0 4px 6px rgba(3, 19, 241, 0.5);
}

.fight-mode{
    display: flex;
    gap: 80px;
    align-items: center;
}

.human-vs-bot{

}

.game-table{
    width: 400px;
    height: 400px;
    background-color: white;
    border: 5px solid #03071E;
    border-radius: 15px;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3,1fr);
    position: relative;
}

.game-table-cover{
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(3, 4, 94, 0.9);
}

.game-table-cover .alert{
    font-size: 35px;
    line-height: 400px;
    color: white;
}

.game-table .cell{
    border: 2px solid black;
    cursor: pointer;
}



.footer{
    
}





